<div class="preferences-container">
    <h2>Preferences</h2>
    <form>
      <label for="numberOfUFOs">Number of UFOs:</label>
      <select id="numberOfUFOs" [(ngModel)]="numberOfUFOs" name="numberOfUFOs">
        <option *ngFor="let ufo of ufoOptions" [value]="ufo">{{ ufo }}</option>
      </select>
  
      <label for="timeLimit">Time (seconds):</label>
      <select id="timeLimit" [(ngModel)]="timeLimit" name="timeLimit">
        <option *ngFor="let time of timeOptions" [value]="time">{{ time }}</option>
      </select>
  
      <button type="button" (click)="savePreferences()">Accept</button>
    </form>
  </div>
  <router-outlet />
  